[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supervisor = "*"
rq = "*"
matplotlib = "*"
openpifpaf = "*"
rq-scheduler = "*"
redis = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
